body {
    margin: 0;
    padding: 0;
    background: peru;
    font-family: sans-serif;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: 0;
    padding: 0;
    background: #fff;
}

ul li {
    list-style: none;
}

ul li a {
    
}